{% extends 'drophutApp/base.html'%}
{% load static %}
{% block content %}

<!-- Slider area start -->
<section class="slider_section d-flex align-items-center" data-bgimg="{% static 'drophutApp/img/slider/slider3.jpg' %}">
  <div class="slider_area owl-carousel">
      {% for product in products %}
      <div class="single_slider d-flex align-items-center">
          <div class="container">
              <div class="row">
                  <div class="col-xl-6 col-md-6">
                      <div class="slider_content">
                          <h1>{{ product.name }}</h1>
                          <h2>Insane Quality for use</h2>
                          <p>Special offer <span> 20% off </span> this week</p>
                          <a class="button" href="{% url 'product_details' product.id%}">Buy now</a>
                      </div>
                  </div>
                  <div class="col-xl-6 col-md-6">
                      <div class="slider_content">
                        <img src="{{ product.image.url }}" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</section>
<!-- Slider area end -->

<!-- Tranding product -->
<section class="pt-60 pb-30 gray-bg">
  <div class="container">
      <div class="row">
          <div class="col text-center">
              <div class="section-title">
                <h2>Trending Products</h2>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          {% for product in products %}
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="single-tranding">
                  <a href="{% url 'product_details' product.id%}">
                      <div class="tranding-pro-img">
                          <img src="{{ product.image.url }}" alt="">
                      </div>
                      <div class="tranding-pro-title">
                          <h3>{{ product.name }}</h3>
                          <h4>{{ product.name }}</h4>
                      </div>
                      <div class="tranding-pro-price">
                          <div class="price_box">
                              <span class="current_price">${{ product.price }}</span>
                              <span class="old_price">$80.00</span>
                          </div>
                        </div>
                      </a>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </section>
  <!-- Tranding product end -->

  <!--Features area-->
  <section class="features-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section-title">
                    <h2>Awesome Features</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="single-features">
                    <img src="{% static 'drophutApp/img/icon/1.png'%}" alt="">
                    <h3>Impressive Distance</h3>
                    <p>consectetur adipisicing elit. Ut praesentium earum, blanditiis, voluptatem repellendus rerum voluptatibus dignissimos</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="single-features">
                    <img src="{% static 'drophutApp/img/icon/2.png'%}" alt="">
                    <h3>100% self safe</h3>
                    <p>consectetur adipisicing elit. Ut praesentium earum, blanditiis, voluptatem repellendus rerum voluptatibus dignissimos</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="single-features">
                    <img src="{% static 'drophutApp/img/icon/3.png'%}" alt="">
                    <h3>Awesome Support</h3>
                    <p>consectetur adipisicing elit. Ut praesentium earum, blanditiis, voluptatem repellendus rerum voluptatibus dignissimos</p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <a href="#"><img src="{% static 'drophutApp/img/product/2.png'%}" alt=""></a>
            </div>
        </div>
    </div>
</section><!--Features area-->

 <!--Features area-->
 <section class="gray-bg pt-60 pb-60">
  <div class="container">
      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-1 order-md-1 order-sm-1">
              <div class="pro-details-feature">
                  <img src="{% static 'drophutApp/img/product/1.png'%}" alt="">
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-2 order-md-2 order-sm-2">
              <div class="pro-details-feature">
                  <h3>Long Lasting</h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                  <ul>
                      <li>It is a long established fact that</li>
                      <li>Many desktop publishing</li>
                      <li>Various versions have evolved over the years, sometimes by accident</li>
                      <li>There are many variations of passages</li>
                      <li>If you are going to use a</li>
                      <li>Alteration in some form, by injected</li>
                  </ul>
                  <a href="#">$70 Buy now</a>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-3 order-md-4 order-sm-4 order-4">
              <div class="pro-details-feature">
                  <h3>Impressive Distance</h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                  <ul>
                      <li>It is a long established fact that</li>
                      <li>Many desktop publishing</li>
                      <li>Various versions have evolved over the years, sometimes by accident</li>
                      <li>There are many variations of passages</li>
                      <li>If you are going to use a</li>
                      <li>Alteration in some form, by injected</li>
                  </ul>
                  <a href="#">$70 Buy now</a>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-4 order-md-3 order-sm-3 order-3">
              <div class="pro-details-feature">
                  <img src="{% static 'drophutApp/img/product/1.png'%}" alt="">
              </div>
          </div>
      </div>
  </div>
</section><!--Features area-->
  
  <!-- Other product -->
  <section class="pt-60 pb-30">
      <div class="container">
          <div class="row">
              <div class="col text-center">
                  <div class="section-title">
                      <h2>Other collections</h2>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
            {% for product in products %}
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="single-tranding mb-30">
                    <a href="{% url 'product_details' product.id%}">
                        <div class="tranding-pro-img">
                            <img src="{{ product.image.url }}" alt="">
                        </div>
                        <div class="tranding-pro-title">
                            <h3>{{ product.name }}</h3>
                            <h4>{{ product.name }}</h4>
                        </div>
                        <div class="tranding-pro-price">
                            <div class="price_box">
                                <span class="current_price">${{ product.price }}</span>
                                <span class="old_price">$80.00</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>
    <!-- Other product end -->

    {% endblock %}